<div class="card">
  <div class="card-body">
    <h3 class="card-title">Exports</h3>
    <hr>
    <br/>
    <div class="row" style="overflow-x: scroll">
      <table class="table table-striped table-hover table-sm">
        <thead class="thead bg-info">
        <tr>
          <th></th>
          <th scope="col">Name <fa-icon [icon]="" (click)="sortByName()"></fa-icon></th>
          <th scope="col">Imported On <fa-icon [icon]="" (click)="sortByImportedOn()"></fa-icon></th>
          <th scope="col">Count <fa-icon [icon]="" (click)="sortByCount()"></fa-icon></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let exportFile of exports; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <th scope="row">{{ exportFile.name }}</th>
          <td>{{ exportFile.createdAt }}</td>
          <td>{{ exportFile.exportedCount }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <br/>
  </div>
</div>
