#sidenavbar{
  /*min-height: 100vh;*/
  color: #eeeeee;
}

.nav-link{
  width: 100%;
  font-size: 1.1rem;
  padding: 12px;
  color: white;
}

#hr1{
  height: 1px;
  border: none;
  /*color: #333;*/
  background-color: #333;
}
