<div class="container-fluid" id="sidenavbar">
  <br>
  <div class="row">
    <h5>
      <fa-icon [icon]="faUser"></fa-icon>
      Welcome, <span *ngIf="userDetails">{{ userDetails.user.username }}</span></h5>
  </div>
  <div class="row">
    <button class="btn btn-dark" (click)="onSignOut()">
      <fa-icon [icon]="faSignOutAlt"></fa-icon>
      Logout
    </button>
  </div>
  <hr id="hr1">
  <div class="row nav flex-column nav-pills nav-fill" role="tablist" aria-orientation="vertical">
    <a class="nav-link" *ngIf="isAdmin || isRoot" routerLinkActive="active" routerLink="/contacts" role="button">
      <fa-icon [icon]="faContacts"></fa-icon>
      Contacts</a>
    <a class="nav-link" *ngIf="isAdmin || isRoot" routerLinkActive="active" routerLink="/imports" role="button">
      <fa-icon [icon]="faImports"></fa-icon>
      Imports</a>
    <a class="nav-link" *ngIf="isRoot" routerLinkActive="active" routerLink="/exports" role="button">
      <fa-icon [icon]="faExports"></fa-icon>
      Exports</a>
    <a class="nav-link" *ngIf="isAdmin || isRoot" routerLinkActive="active" routerLink="/emails" role="button">
      <fa-icon [icon]="faEmails"></fa-icon>
      Emails</a>
    <br>
  </div>
</div>


