<div class="row align-items-center" style="min-height: 100vh" id="main">
  <div class="container-fluid">
    <form [formGroup]="loginForm" (ngSubmit)="onLogIn()">
      <div formGroupName="loginData">
        <div class="form-group">
          <div class="row justify-content-center">
            <div class="col-sm-1">
              <strong>Username </strong>
            </div>
            <div class="col-sm-2">
              <input type="text" [formControlName]="'username'" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row justify-content-center">
            <div class="col-sm-1">
              <strong>Password </strong>
            </div>
            <div class="col-sm-2">
              <input type="password" [formControlName]="'password'" class="form-control">
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <button class="btn btn-primary"><span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span> Log In</button>
        </div>
        <br>
        <div class="row justify-content-center" role="alert" *ngIf="errorMessage">
          <div class="alert alert-danger" role="alert">
            <span>{{ errorMessage }}</span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
