<div class="card" id="main">
  <div class="card-body">
    <h3 class="card-title">Users</h3>
    <hr>
    <br>
    <div class="container-fluid">
      <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseNewTenant">
        New Tenant
      </button>
      <button style="margin-left: 10px" class="btn btn-outline-secondary" type="button" data-toggle="collapse"
              data-target="#collapseNewAdmin">
        New Admin
      </button>
    </div>
    <div class="collapse" id="collapseNewTenant">
      <div class="container-fluid">
        <form [formGroup]="newTenantForm" (ngSubmit)="onSaveTenant()">
          <div class="form-group">
            <label for="details"><strong>Name</strong></label>
            <input type="text" id="details" [formControlName]="'name'" class="form-control">
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
    <div class="collapse accordion" id="collapseNewAdmin">
      <div class="container-fluid">
        <form [formGroup]="newAdminForm" (ngSubmit)="onSaveAdmin()">
          <div class="form-group">
            <label for="tenants"><strong>Tenant</strong></label>
            <select id="tenants" [formControlName]="'tenantId'" class="form-control">
              <option *ngFor="let tenant of tenants" [ngValue]="tenant.id">{{ tenant.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="username"><strong>Username</strong></label>
            <input type="text" id="username" [formControlName]="'username'" class="form-control">
          </div>
          <div class="form-group">
            <label for="email"><strong>Email</strong></label>
            <input type="email" id="email" [formControlName]="'email'" class="form-control">
          </div>
          <div class="form-group">
            <label for="pass"><strong>Password</strong></label>
            <input type="password" id="pass" [formControlName]="'pass'" class="form-control">
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
    <br>
    <h5>Grouped By Tenant, Admins</h5>
    <div class="accordion" id="tenantsAccordion">
      <div class="card" *ngFor="let tenant of tenants">
        <div class="card-header" [id]="'headingTenant'+tenant.id" (click)="fetchAdminsOfTenant(tenant)">
          <div class="d-flex justify-content-between">
            <button class="btn btn-link" type="button" data-toggle="collapse" [attr.href]="'collapseTenant'+tenant.id"
                    [attr.data-target]="'#collapseTenant'+tenant.id" aria-expanded="true"
                    [attr.aria-controls]="'collapseTenant'+tenant.id">
              {{ tenant.name }}
              <fa-icon [icon]="angleDownIcon"></fa-icon>
            </button>
            <button class="btn btn-outline-danger" (click)="onDeleteTenant(tenant)">Delete</button>
          </div>
        </div>
        <div [id]="'collapseTenant'+tenant.id" class="collapse" [attr.href]="'collapseTenant'+tenant.id"
             [attr.aria-labelledby]="'headingTenant'+tenant.id" data-parent="#tenantsAccordion">
          <div class="card-body">
            <span><strong>Admins</strong></span>
            <div class="accordion" id="adminsAccordion">
              <div class="card" *ngFor="let admin of admins">
                <div class="card-header" [id]="'headingAdmin'+admin.id">
                  <div class="d-flex justify-content-between">
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                            [attr.href]="'collapseAdmin'+admin.id" [attr.data-target]="'#collapseAdmin'+admin.id"
                            aria-expanded="true" [attr.aria-controls]="'collapseAdmin'+admin.id">
                      {{ admin.username }}
                      <fa-icon [icon]="angleDownIcon"></fa-icon>
                    </button>
                    <button class="btn btn-outline-danger" (click)="onDeleteAdmin(admin, tenant)">Delete</button>
                  </div>
                </div>
                <div [id]="'collapseAdmin'+admin.id" class="collapse" [attr.href]="'collapseAdmin'+admin.id"
                     [attr.aria-labelledby]="'headingAdmin'+admin.id" data-parent="#adminsAccordion">
                  <div class="card-body">
                    {{ admin.username }}
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <h5>All Users</h5>
    <table class="table table-striped table-hover table-sm">
      <thead class="thead bg-info">
      <tr>
        <th>#</th>
        <th scope="col">ID
          <fa-icon></fa-icon>
        </th>
        <th scope="col">Name
          <fa-icon></fa-icon>
        </th>
        <th scope="col">Tenant
          <fa-icon></fa-icon>
        </th>
        <th scope="col">Created
          <fa-icon></fa-icon>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of allUsers; let i = index">
        <th scope="row">{{ i }}</th>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.authorities }}</td>
        <td>{{ user.tenant.name}}</td>
        <td>{{ user.createdOn }}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
